// colors
:root {
  
  // theme variables
  
  // --scrollbar-color:#6b2780;
  --color-header-color: transparent;
  --sidebar-color:'';

  --sidebar-bg-c: '';//var(--color-shadow-primary);
  --sidebar-bg-b: '';//var(--color-underline-active);
  --sidebar-bg-a: '';//var(--color-underline-header);
  // --sidebar-bg-url: '';
  --sidebar-bg-url: url(../assets/bg/denim075.png);
  --scene-display-height: 100px;
//   --pause-color: '';
//   --pause-glow: '';
//   --pause-glow-alt: 0 0 40px var(--pause-color);
//   --pause-anim: ''
// } 
// @font-face {
//   font-family: 'still_time';
//   src: url('../fonts/still-time-webfont.woff2') format('woff2'),
//       url('../fonts/still-time-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
}